form{
	position: relative;
  width: 450px;
  margin: 0 auto;
  background: rgba(130,130,130,.3);
  padding: 20px 22px;
  border: 2px solid;
  border-radius: 5px;
  padding: 20px;
  font-size:20px;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
}

	input[type=text], select, textarea {
    width: 60%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;  
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
  }  	
  input[type=text]{
    width: 60%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;  
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;  

}
input[type=email]{
	

    width: 60%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;  
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;

}
input[type=submit] {
    background-color:#2F4F4F;
    color: white;
    padding: 12px 20px;
    border: none;
    radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;

}
container {
			border: 2px;
			border-radius:4px;
    	  	padding: 32px 32px;
    		text-decoration: none;
    		margin: 4px 2px;
    		cursor: pointer;
			font-size:20;
}

		